.Container {
  width: 100%;
  
  footer {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    color: #222;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.6);
    width: 100%;
  }
}
